#card-container {
    display: flex;
    flex-direction: column;
    transition: top 500ms ease, left 500ms ease, transform 400ms ease; // translate was 150 ms...

    &.card-active {
        transition: top 0ms linear, left 0ms linear, transform 0ms linear;
        cursor: grabbing !important;
        z-index: 33 !important;
    }
}
