hr {
    border: none;
    height: 1px !important;
    background-image: linear-gradient(to left, #fff, #ccc, #fff);
}

.prev-scores {
    @keyframes in-animation {
        0% {
            opacity: 0;
            transform: translateY(0);
        }
        10% {
            opacity: 0;
            transform: translateY(0);
        }
        30% {
            opacity: 1;
            transform: translateY(0);
        }
        70% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-1em);
        }
    }

    animation: in-animation 3s ease forwards;
}

.winning-score {
    @keyframes size-in {
        100% {
            font-size: 1.5em;
        }
    }

    animation: size-in 0.25s ease forwards;
}
