table {
    tbody {
        &::before {
            content: "";
            display: table-row;
            height: 0.75em;
        }

        tr > th {
            color: var(--dark-300);
            font-weight: 500;
        }
    }

    &.counting-end {
        tbody tr > th:nth-child(-n + 3) {
            transition: filter 0.2s ease-out;
            filter: brightness(1.5);
        }
    }
}
