.Alert {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.2s ease, transform 0.2s ease;

    &.alert-in.alert-visible {
        opacity: 1;
        transform: scale(1);
    }

    span {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 25px 50px -12px;
    }
}
