@mixin animation($name, $duration, $timing-func) {
    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $timing-func;
    animation-fill-mode: forwards;
}

$blur-spread: 6px;

/* MODAL BACKGROUND PRE-FADE-STYLES */

.acrylic-bg {
    $anim-time: 0.15s;
    $anim-type: linear;

    // Background blur
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backdrop-filter: blur($blur-spread) opacity(0);
        transition: backdrop-filter $anim-time $anim-type;
        z-index: -2;
    }

    // Noise texture
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: opacity $anim-time $anim-type;
        background: #000 url("../../assets/images/noise.png");
        z-index: -1;
    }
}

/* MODAL CONTENT PRE-FADE-STYLES */

.modal-content {
    transform: scale(0.9);
}

/* MODAL FADE IN EVENT */

.fade-in {
    .acrylic-bg {
        &::before {
            backdrop-filter: blur($blur-spread) opacity(1);
        }

        &::after {
            opacity: 0.5;
        }
    }

    .modal-content {
        @keyframes bounce-in {
            0% {
                transform: scale(0.9);
            }
            50% {
                transform: scale(1.01);
            }
            100% {
                transform: scale(1);
            }
        }

        @include animation(bounce-in, 0.3s, ease);
    }
}

/* MODAL FADE IN EVENT */

.fade-out {
    transition: all 0.3s ease !important;

    .acrylic-bg {
        &::before {
            backdrop-filter: blur($blur-spread) opacity(0);
        }

        &::after {
            opacity: 0;
        }
    }

    .modal-content {
        @keyframes scale-out {
            from {
                transform: scale(1);
            }
            to {
                opacity: 0;
                transform: scale(0.95);
            }
        }

        @include animation(scale-out, 0.3s, ease);
    }
}

/* SCROLL BAR */

.simplebar-wrapper {
    width: calc(100% + 1rem);
}

.simplebar-track {
    width: 6px !important;
    border-radius: 7px;
    transition: background 0.1s linear;

    &.simplebar-hover {
        background: rgba(0, 0, 0, 0.1);
    }

    &.simplebar-vertical {
        right: -5px;
    }
}

.simplebar-scrollbar {
    width: 6px;

    &::before {
        width: 100%;
        top: 0 !important;
        left: 0;
        bottom: 0 !important;
        background: rgba(0, 0, 0, 0.5);
    }

    &.simplebar-hover {
        &::before {
            background: rgba(0, 0, 0, 0.6);
        }
    }
}

/* PARSED CONTENT */

.inserted-content {
    * {
        color: #323232 !important;
    }

    font-family: "Rubik", sans-serif;

    h1,
    h2,
    h3 {
        font-family: "Germania One", cursive;
    }

    h1 {
        margin: auto;
        width: 50%;
        text-align: center;
        letter-spacing: 2px;
    }

    blockquote {
        * {
            color: #505050 !important;
        }

        font-weight: 430;
    }

    hr {
        margin-bottom: 2em;
    }

    strong {
        font-weight: 540;
    }
}

/* CLOSE BUTTON */

.modal-close {
    color: rgba(50, 50, 50, 0.5);
    transition: transform 0.2s ease;

    &:hover {
        color: rgba(50, 50, 50, 0.8);
        transform: scale(1.2);
    }
}
