@import "../../shared/mixins/sass-mixins.scss";

/* MODAL CONTENT PRE-FADE-STYLES */

.modal-content {
    color: #323232 !important;

    transform: scale(0.9);
    opacity: 0;

    box-shadow: 0px 30px 90px rgba(0, 0, 0, 0.3);
}

/* MODAL FADE IN EVENT */

.fade-in {
    .modal-content {
        @keyframes bounce-in {
            0% {
                transform: scale(0.9);
                opacity: 0;
            }
            50% {
                transform: scale(1.01);
                opacity: 1;
            }
            100% {
                transform: scale(1);
                opacity: 1;
            }
        }

        @include forward-animation(bounce-in, 0.3s, ease);
    }
}

/* MODAL FADE IN EVENT */

.fade-out {
    .modal-content {
        @keyframes scale-out {
            from {
                opacity: 1;
                transform: scale(1);
            }
            to {
                opacity: 0;
                transform: scale(0.95);
            }
        }

        @include forward-animation(scale-out, 0.3s, ease);
    }
}

/* SCROLL BAR */

.simplebar-wrapper {
    width: calc(100% + 1rem);

    .simplebar-content {
        height: inherit;
    }
}

.simplebar-track {
    width: 6px !important;
    border-radius: 7px;
    transition: background 0.1s linear;

    &.simplebar-hover {
        background: rgba(0, 0, 0, 0.1);
    }

    &.simplebar-vertical {
        right: -5px;
    }
}

.simplebar-scrollbar {
    width: 6px;

    &::before {
        width: 100%;
        top: 0 !important;
        left: 0;
        bottom: 0 !important;
        background: rgba(0, 0, 0, 0.5);
    }

    &.simplebar-hover {
        &::before {
            background: rgba(0, 0, 0, 0.6);
        }
    }
}

/* PARSED CONTENT */

.inserted-content {
    font-family: "Rubik", sans-serif;

    h1,
    h2,
    h3 {
        color: var(--dark-800);
        font-family: "Germania One", cursive;
        letter-spacing: 1px;
    }

    h1 {
        margin: auto;
        width: 50%;
        text-align: center;
        letter-spacing: 2px;

        &:first-letter {
            font-family: "English Towne", cursive;
            font-size: 2.6rem;
            letter-spacing: 3px;
        }
    }

    blockquote {
        * {
            color: #505050 !important;
        }

        font-weight: 430;
    }

    hr {
        margin-bottom: 2em;
    }

    strong {
        font-weight: 540;
    }
}
