.GameInterface--in-animation {
    @keyframes interface-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    animation: interface-in 0.3s linear forwards;
}

.Stock--in-animation {
    @for $i from 1 to 34 {
        #card-container:nth-child(#{$i}) {
            @keyframes stock-in {
                0% {
                    top: 46%;
                    left: 20%;
                    opacity: 0;
                }
                100% {
                    left: 50%;
                    opacity: 1;
                }
            }

            animation: stock-in 0.5s cubic-bezier(0.29, 0.1, 0.34, 0.99) #{$i * 0.003}s;
        }
    }
}

#Stock__underlay {
    font-size: 5vw;
    font-family: "English Towne";
}

.WinningSideArrow {
    opacity: 0;

    @keyframes arrow-in {
        to {
            opacity: 1;
        }
    }

    animation: arrow-in 0.5s ease 0.5s forwards;
}
