@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* WHITE */
    --white-normal: #ffffff;
    --white-text: #e2f1ff;
    --white-greyish: #e1e2e1;
    --white-yellowish: #fff3e4;

    /* BLACK */
    --dark-800: #313131;
    --dark-700: #3e3f41;
    --dark-600: #4a4c50;
    --dark-500: #505050;
    --dark-400: #626262;
    --dark-300: #7a7a7a;
    --dark-200: #929291;
    --dark-outline: #161616;

    /* GREEN */
    --green-800: #006717; // dark
    --green-500: #329e47; // primary
    --green-400: #5bb16c; // 400
    --green-300: #2b7b3b; // light
    --green-200-alpha: rgba(43, 123, 59, 0.3); // 200

    /* BLUE */
    --blue-700: #005382;
    --blue-600: #0072b3;
    --blue-500: #0077b9;
    --blue-400: #1a88c4;
    --blue-300: #1d9de2;

    /* ALPHA */
    --alpha-5: rgba(0, 0, 0, 0.5);
}

@layer base {
    @font-face {
        font-family: "Rubik";
        src: url("./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
        font-style: normal;
        font-weight: 100 1000;
        font-stretch: 25% 151%;
    }

    @font-face {
        font-family: "Rubik";
        src: url("./assets/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
        font-style: italic;
        font-weight: 100 1000;
        font-stretch: 25% 151%;
    }

    @font-face {
        font-family: "Germania One";
        src: url("./assets/fonts/Germania_One/GermaniaOne-Regular.ttf") format("truetype");
        font-style: normal;
    }

    @font-face {
        font-family: "English Towne";
        src: url("./assets/fonts/English_Towne/EnglishTowne.ttf") format("truetype");
        font-style: normal;
    }

    * {
        user-select: none;
        -webkit-user-select: none;
    }

    ::-webkit-scrollbar {
        width: 0;
    }

    h1 {
        @apply text-xl font-bold md:text-2xl xl:text-3xl;
    }

    // Change default outline color
    div:not([data-dummy-focus]),
    button:not([data-dummy-focus]),
    span:not([data-dummy-focus]),
    li:not([data-dummy-focus]) {
        &:focus-visible {
            transition: outline 75ms ease;
            outline: 2px solid var(--dark-outline) !important;
            outline-offset: 2px;
        }
    }

    .App,
    #modal-root {
        font-family: "Rubik", sans-serif;
    }
}

@layer utilities {
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .absolute-centering {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .font-english-towne {
        font-family: "English Towne";
    }

    .text-sm-adapt {
        @apply text-sm font-normal lg:text-base;
    }

    .text-base-adapt {
        @apply text-base font-normal lg:text-lg;
    }

    .text-3xl-adapt {
        @apply text-3xl lg:text-4xl;
    }
}
