@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Rubik";
    src: url("./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}

@font-face {
    font-family: "Rubik";
    src: url("./assets/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}

@font-face {
    font-family: "Germania One";
    src: url("./assets/fonts/Germania_One/GermaniaOne-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "English Towne";
    src: url("./assets/fonts/English_Towne/EnglishTowne.ttf") format("truetype");
    font-style: normal;
}

* {
    user-select: none;
    -webkit-user-select: none;
}

// Change default outline color
div,
button,
span {
    outline: none;
    &:focus-visible {
        outline: 2px solid #16161d !important;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
